h2::first-letter {
  font-size: xx-large;
}
h2 + p {
  text-indent: 2em;
}
a:before {
  content: "→";
  margin-right: 5px;
}
a:link {
  color: #06c;
}

a:visited {
  color: #666;
}
a {
  text-decoration: none;
}
a:hover {
    color: #f00;
}
abbr:after {
    content: attr(title);
    font-size: 0.8em;
    color: #666;
    margin-left: 2px;

}
abbr{
    text-decoration: none;
}
body{
    background-color: whitesmoke;
    color: darkblue;
}