/* Estilos para las cajas */



.caja1 {
  background-color: #fff5f5; 
    width: 48px;
    height: 32x;
    margin-bottom: 8px;
  }
  
.caja2 {
    background-color: #fed7d7;
    width: 64px;
    height: 32px;
    margin-bottom: 8px;
}
  
  .caja3 {
    background-color: #feb2b2;
    width: 80px;
    height: 32px;
    margin-bottom: 8px;
}
  
.caja4 {
  background-color: #fc8181; 
    width: 96px;
    height: 32px;
    margin-bottom: 8px;
}
  
  .caja5 {
    background-color: #f56565;
    width: 112px;
    height: 32px;
    margin-bottom: 8px;
  }
  
  .caja6 {
    background-color: #e53e3e;
    width: 128px;
    height: 32px;
    margin-bottom: 8px;
  }
  
  .caja7 {
    background-color: #c53030; 
    width: 144px;
    height: 32px;
    margin-bottom: 8px;
  }
  
  .caja8 {
    background-color: #9b2c2c;
    width: 160px;
    height: 32px;
    margin-bottom: 8px;
  }
  
  .caja9 {
    background-color: #742a2a; 
    width: 176px;
    height: 32px;
    margin-bottom: 8px;
  }

  .cont-boxes > div{
    margin-bottom: 8px;
  }

  
  /* Estilos para boxes */

  .box1 {
    background-color: #fff5f5; 
    width: 80px;
    height: 32px;
    margin: 0 0 8px 8px;
    border-radius: 6px;
  }
  
  .box2 {
    background-color: #fed7d7;
    width: 80px;
    height: 32px;
    margin: 0 0 8px 16px;
    border-radius: 6px;
   
  }
  
  .box3 {
    background-color: #feb2b2;
    width: 80px;
    height: 32px;
    margin: 0 0 8px 24px;
    border-radius: 6px;
    
  }
  
  .box4 {
    background-color: #fc8181; 
    width: 80px;
    height: 32px;
    margin: 0 0 8px 32px;
    border-radius: 6px;

  }

  .box5 {
    background-color: #f56565;
    width: 80px;
    height: 32px;
    margin: 0 0 8px 40px;
    border-radius: 6px;
  }
  
  .box6 {
    background-color: #e53e3e;
    width: 80px;
    height: 32px;
    margin: 0 0 8px 48px;
    border-radius: 6px;

  }
  
  .box7 {
    background-color: #c53030; 
    width: 80px;
    height: 32px;
    margin: 0 0 8px 56px;
    border-radius: 6px;
  }
  
  .box8 {
    background-color: #9b2c2c;
    width: 80px;
    height: 32px;
    margin: 0 0 8px 64px;
    border-radius: 6px;
  }
  
  .box9 {
    background-color: #742a2a; 
    width: 80px;
    height: 32px;
    margin: 0 0 8px 72px;
    border-radius: 6px;

  }
  
.margen{
  margin: 48px;
}

.contenedor1 {
  background-color: #742a2a; 
  width: 176px;
  height: 176px;
  /* padding: 12px; */
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor2 {
  background-color: #9b2c2c;
  width: 160px;
  height: 160px;
  /* padding: 12px; */
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor3 {
  background-color: #c53030; 
  width: 144px;
  height: 144px;
  /* padding: 12px ; */
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor4 {
  background-color: #e53e3e;
  width: 128px;
  height: 128px;
  /* padding: 12px; */
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor5 {
  background-color: #f56565;
  width: 112px;
  height: 112px;
  /* padding: 12px; */
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor6 {
  background-color: #fc8181; 
  width: 96px;
  height: 96px;
  /* padding: 12px; */
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor7 {
  background-color: #feb2b2;
  width: 80px;
  height: 80px;
  /* padding: 12px; */
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor8 {
  background-color: #fed7d7;
  width: 64px;
  height: 64px;
  /* padding: 12px; */
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor9 {
  background-color: #fff5f5; 
  width: 48px;
  height: 48px;
  /*padding: 12px;*/
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}