body {
    
}
#contenedor nav, art-1, art{
    width: 60em;
    clear: both;
    margin: auto;
    background-color: aqua;
    
}

nav{
    border: 1px solid #ebf8ff;
}
h1{
    text-align: center;
}

#art-1{
    float: left;
    width: 16em;
    height: 100%;
    clear: left;
}
.sect-right{   
    float: left;
    width: 44em;
    height: 100%;

    
}


#art-3{
    list-style: none;
    padding: 0;
    margin: 0;
    columns: 3;
    
}

#art1 li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#art3 li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}